<?xml version="1.0"?>

<robot name="Anton" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--Gazebo Hokuyo Laser Plugin-->
  <gazebo reference="sensor_laser">
      <sensor type="ray" name="head_hokuyo_sensor">
          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>20</update_rate>
          <ray>
              <scan>
                  <horizontal>
                      <samples>1440</samples>
                      <resolution>1</resolution>
                      <min_angle>-3.14159</min_angle>
                      <max_angle>3.14159</max_angle>
              </horizontal>
          </scan>
          <range>
              <min>0.10</min>
              <max>30.0</max>
              <resolution>0.01</resolution>
          </range>
          <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.01</stddev>
          </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
          <topicName>/ai_rover_remastered/laser_scan/scan
  </topicName>
          <frameName>sensor_laser</frameName>
      </plugin>
      </sensor>
  </gazebo>

</robot>