<?xml version="1.0" ?>
<robot name="Anton" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <!-- Define color for robot parts -->
  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="drivewhl_l_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="drivewhl_r_link">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>
