<?xml version="1.0"?>
<robot name="Anton" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="base_wheel_gap" value="0.007"/>
	<xacro:property name="wheel_separation" value="0.15"/>
  <xacro:property name="wheel_joint_offset" value="0.02"/>
  <xacro:property name="wheel_radius" value="0.07"/>
  <xacro:property name="wheel_width" value="0.03"/>
  <xacro:property name="wheel_ygap" value="0.025"/>
  <xacro:property name="wheel_zoff" value="0.05"/>
  <xacro:property name="wheel_xoff" value="0.12"/>
</robot>